@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  background: var(--lavender-web);
  font-family: "Space Grotesk", sans-serif;
  color: var(--black-chocolate);
}

.error {
  color: var(--persian-orange);
  transform: scale(1.1);
  transition: all 0.6s ease-in;
}

.clip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  max-width: 8.8rem;
}

.hide {
  display: none;
}
